<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= message.username %>'s message</h1>
        <ul>
            <li>Content: <%= message.text %></li>
            <li>Timestamp: <%= message.added %></li>
        </ul>

        <a href="/">Back to home</a>
    </body>
</html>